a {
    text-decoration: none;
}

.link_menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.heading {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

.sub_heading {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}