@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:wght@600;700;800&display=swap');

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
  100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

.center{
    padding-right: calc(50% - 800px);
    padding-left: calc(50% - 800px);
}

.header__menu {
    display: flex;
    justify-content: space-around;
    background: #222222;
    padding-top: 26px;
    padding-bottom: 20px;
    min-width: auto;
}

.menu_logo {
    display: flex;
    gap: 41px;
}

.menu_button {
    display: flex;
    justify-content: space-between;

}

.menu_group {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-right: 42px;
}

.button_menu {
    background: none;
    border: 0px;
    cursor: pointer;
}

.button_menu:hover {
    animation: pulsate-fwd 0.5s ease-in-out 1 both;
}

.label_brand {
    display: flex;
    min-width: 405px;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.brand__title {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.brand__subtitle {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.span_luxerious {
    color: #F16D7F;
}

.header__label {
    display: flex;
    align-items: center;
    gap: 63px;
    background: #F1E4E6;
    justify-content: center;
    padding-right: 331px;
}

main {
    margin-top: 65px;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 30px;
    justify-content: center;
}

.offer__items {
    position: relative;
    text-align: center;
}

.offer__item_4 {
    grid-column: span 3;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered h3 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.centered h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #f16d7f;
}

.content {
    text-align: center;
    padding-top: 96px;
    padding-bottom: 60px;
}

.title {
    font-size: 30px;
}

.text {
    color: #9F9F9F;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 48px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    grid-gap: 30px;
    text-align: left;
}

.item {
    background: #F8F8F8;
}

.item__content {
    padding: 24px 16px;
}

.rect_basket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    opacity: 0;
}

.item:hover .rect_basket{
    opacity: 1;
}

.basket {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket_add {
    width: 138px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background: none;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;

}

.subtitle {
    margin-bottom: 16px;
    color: #000;
    font-size: 13px;
}

.product_text {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}

.price {
    color: #F16D7F;
    font-size: 16px;
}

.button_down {
    margin-top: 48px;
    border: 1px solid;
    width: 212px;
    height: 48px;
    background: none;
    color: #F26376;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.button_down:hover {
    background: #F16D7F;
    color: #FFF;
}

.footer__header {
    display: flex;
    justify-content: center;
    background: #222222;
    gap: 30px;
    padding-top: 104px;
    padding-bottom: 104px;
}

.footer__item {
    text-align: center;
    align-self: center;
}

.center_pic{
    display: block;
    margin: auto;
}


.footer__title {
    margin-top: 28px;
    margin-bottom: 16px;
    color: #FBFBFB;
    font-size: 20px;
    line-height: 24px;
}

.fheader__text {
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 300;
    max-width: 300px;
}


.footer__content {
    background-image: url(img/bg_footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.footer__blur {
    padding: 0;
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    display: flex;
    gap: 225px;
    align-items: center;
    justify-content: space-around;
}

.review__text {
    margin-top: 30px;
    max-width: 360px;
    color: #222224;
    text-align: center;
    font-size: 20px;
}

.text_italic {
    color: #222224;
    font-size: 20px;
    font-style: italic;
}

.subscribe_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe__title{
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.subscribe__subtitle {
    color: #222224;
    font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
}


.subscribe__input {
    width: 256px;
    height: 49px;
    font-size: 14px;
    line-height: 17px;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    padding-left: 22px;
    border: none;
}

.button__subscribe {
    width: 100px;
    height: 49px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F16D7F;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle;
    border: none;

}

.button__subscribe:hover{
    animation: pulsate-fwd 0.5s ease-in-out 1 both;
}

.brand_box {
    background: #222224;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 230px;
    padding-right: 230px;
}

.brand__all {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.social {
    width: 32px;
    height: 32px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social:hover  {
    background: #F16D7F;
}

.icon:hover path {
    fill: #FFFFFF;
    background-color: #f00;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .center{
        padding-right: calc(50% - 384px);
        padding-left: calc(50% - 384px);
    }

    .header__menu {
        padding-left: 32px;
        padding-right: 27px;
        justify-content: space-between;
    }

    .header__label {
        gap: 39px;
        padding-right: 33px;
    }

     .label_brand {
        min-width: 311px;
    }

    .brand__title {
        font-size: 44px;
    }
    .brand__subtitle {
        font-size: 24px;
    }

    .offer {
            grid-template-columns: repeat(3, 232px);
            grid-gap: 19px;
        }

    .content {
        padding-top: 110px;
        padding-bottom: 60px;
    }

    .text {
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 73px;
    }

    .products {
        grid-template-columns: repeat(2, 360px);
        grid-gap: 16px;
    }

    .button_down {
        margin-top: 32px;
    }

    .footer__header {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 50px;
    }

    .fheader__text {
        color: #FBFBFB;
        font-size: 14px;
        font-weight: 300;
        width: 300px;
    }

    .footer__blur {
        padding: 64px 180px 219px 180px;
        gap: 48px;
        flex-wrap: wrap;
    }

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .subscribe__subtitle {
        margin-bottom: 27px;
    }


    .brand_box {
        padding-left: 32px;
        padding-right: 32px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .center{
        padding-right: calc(50% - 175px);
        padding-left: calc(50% - 175px);
    }

    main {
        margin-top: 64px;
    }

    .header__menu {
        padding-left: 16px;
        padding-right: 26px;
        justify-content: space-between;
    }

    .menu_group {
        padding-right: 0px;
    }

    .hidden {
        display: none;
    }

    .label_center {
        padding: 148px 56px;
    }

    .label_brand {
        min-width: 263px;
    }

    .brand__title {
        font-size: 38px;
    }
    .brand__subtitle {
        font-size: 20px;
    }

    .offer {
        display: grid;
        grid-template-columns: 1fr;
        width: 343px;
        gap: 32px;
        height: auto;
        margin: auto;
    }

    .offer__item_1 {
        grid-column: span 3;
        grid-row: 1;
    }

    .offer__item_2 {
        grid-column: span 3;
        grid-row: 2;
    }

    .offer__item_3 {
        grid-column: span 3;
        grid-row: 3;
    }

    .offer__item_4 {
        grid-column: span 3;
        grid-row: 4;
    }

    .offer__item_4 img {
        object-fit: cover;
        height: 111px;
    }

    .content {
        padding-top: 64px;
        padding-bottom: 85px;
    }

    .text {
        margin-bottom: 64px;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 16px;
        text-align: left;
    }

    .item__content {
        padding: 24px 18px;
    }

    .subtitle {
        margin-bottom: 12px;
    }

    .product_text {
        margin-bottom: 18px;
    }

    .button_down {
        margin-top: 48px;
    }

    .footer__header {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 45px;
    }

    .fheader__text {
        color: #FBFBFB;
        font-size: 14px;
        font-weight: 300;
    }

    .footer__blur {
        padding: 0;
        padding-top: 64px;
        gap: 59px;
        flex-wrap: wrap;
        padding-bottom: 110px;
    }

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .subscribe__subtitle {
        margin-bottom: 22px;
    }

    .subscribe__input {
        width: 200px;
        height: 49px;
        font-size: 14px;
        line-height: 17px;
        background: #E1E1E1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
        padding-left: 22px;
        border: none;
    }

    .brand_box {
        padding: 43px 0px 9px 0px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .flip {
        order: 1;
    }
}
