* {
    text-decoration: none;
}

.menu__link:hover {
    color: red;
}

.menu__link:active {
    color: green;
}

.menu__list:first-child .menu__link {
    text-decoration: underline;
}

.menu__list:last-child .menu__link {
    font-weight: bold;
}

.menu__list:nth-child(3) .menu__link {
    background: orange;
}