@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:wght@600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

.center{
    padding-right: calc(50% - 800px);
    padding-left: calc(50% - 800px);
}

.header__menu {
    display: flex;
    justify-content: space-around;
    background: #222222;
    padding-top: 26px;
    padding-bottom: 20px;
    min-width: auto;
}

.menu_logo {
    display: flex;
    gap: 41px;
}

.menu_button {
    display: flex;
    justify-content: space-between;

}

.menu_group {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-right: 42px;
}

.button_menu {
    background: none;
    border: 0px;
}

.label_brand {
    display: flex;
    min-width: 405px;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.brand__title {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.brand__subtitle {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.span_luxerious {
    color: #F16D7F;
}

.header__label {
    display: flex;
    align-items: center;
    gap: 63px;
    background: #F1E4E6;
    justify-content: center;
    padding-right: 331px;
}

main {
    margin-top: 65px;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 30px;
    justify-content: center;
}

.offer__items {
    position: relative;
    text-align: center;
}

.offer__item_4 {
    grid-column: span 3;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered h3 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.centered h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #f16d7f;
}

.content {
    text-align: center;
    padding-top: 96px;
    padding-bottom: 60px;
}

.title {
    font-size: 30px;
}

.text {
    color: #9F9F9F;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 48px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    grid-gap: 30px;
    text-align: left;
}

.item {
    background: #F8F8F8;
}

.item__content {
    padding: 24px 16px;
}

.subtitle {
    margin-bottom: 16px;
    color: #000;
    font-size: 13px;
}

.product_text {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}

.price {
    color: #F16D7F;
    font-size: 16px;
}

.button_down {
    margin-top: 48px;
    border: 1px solid;
    width: 212px;
    height: 48px;
    background: none;
    color: #F26376;
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center{
        padding-right: calc(50% - 384px);
        padding-left: calc(50% - 384px);
    }

    .header__menu {
        padding-left: 32px;
        padding-right: 27px;
        justify-content: space-between;
    }

    .header__label {
        gap: 39px;
        padding-right: 33px;
    }

     .label_brand {
        min-width: 311px;
    }

    .brand__title {
        font-size: 44px;
    }
    .brand__subtitle {
        font-size: 24px;
    }

    .offer {
            grid-template-columns: repeat(3, 232px);
            grid-gap: 19px;
        }

    .content {
        padding-top: 110px;
        padding-bottom: 60px;
    }

    .text {
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 73px;
    }

    .products {
        grid-template-columns: repeat(2, 360px);
        grid-gap: 16px;
    }

    .button_down {
        margin-top: 32px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .center{
        padding-right: calc(50% - 160px);
        padding-left: calc(50% - 160px);
    }

    main {
        margin-top: 64px;
    }

    .header__menu {
        padding-left: 16px;
        padding-right: 26px;
        justify-content: space-between;
    }

    .menu_group {
        padding-right: 0px;
    }

    .hidden {
        display: none;
    }

    .label_center {
        padding: 148px 56px;
    }

    .label_brand {
        min-width: 263px;
    }

    .brand__title {
        font-size: 38px;
    }
    .brand__subtitle {
        font-size: 20px;
    }

    .offer {
        display: grid;
        grid-template-columns: 1fr;
        width: 343px;
        gap: 32px;
    }

    .offer__item_1 {
        grid-column: span 3;
        grid-row: 1;
    }

    .offer__item_2 {
        grid-column: span 3;
        grid-row: 2;
    }

    .offer__item_3 {
        grid-column: span 3;
        grid-row: 3;
    }

    .offer__item_4 {
        grid-column: span 3;
        grid-row: 4;
    }

    .content {
        padding-top: 64px;
        padding-bottom: 85px;
    }

    .text {
        margin-bottom: 64px;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 16px;
        text-align: left;
    }

    .item__content {
        padding: 24px 18px;
    }

    .subtitle {
        margin-bottom: 12px;
    }

    .product_text {
        margin-bottom: 18px;
    }

    .button_down {
        margin-top: 48px;
    }
}
